.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signup-section {
  padding: 10em 5em;
  box-shadow: -4px 0px 14px 0px rgba(0,0,0,0.75);
}

.features-section {
  background: radial-gradient(
    at bottom left,
    #408e21, #353ace, #19191a
  );
  color: #fff;
}

.fa {
  font-size: 2em;
}
.card-body {
  border-radius: 10px;
}